In [ ]:
import os
import psycopg2

# DATABASE_URL = os.environ['DATABASE_URL']
DATABASE_URL = 'postgres://evjmizeguxwads:2a6ed9d169b0d4704f726b57f8b20739426abf0fcf77ae5dafe0be542e75dfbd@ec2-79-125-30-28.eu-west-1.compute.amazonaws.com:5432/d1ep6cb6a8tah1'
# DATABASE_URL = 'postgres://localhost:5432'

conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cur = conn.cursor()

In [ ]:
cur.execute("""
CREATE TABLE IF NOT EXISTS "states" (
    "id"	bigint,
    "state"	int, 
    PRIMARY KEY(id)
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS "history" (
    "id"	bigint,
    "name" text, 
    "mu"
    "Te"
    "alpha"
    "beta"
    "tau"
    "theta"
    "SD"
    "var95"
1	пешком + 44	35.740000	4	2.5	18.220700	0.407589	35.624748	1.566350	38.694737
    PRIMARY KEY(id)
);
""")

cur.execute("""
     INSERT INTO states (id, state)
     VALUES (%s, %s);
     """,
     (15550, 1))

conn.commit()

In [ ]:
cur.execute("""
DROP TABLE sstates;
""")

In [ ]:
conn.commit()

In [ ]:
cur.execute("""
select * from states;
""")
cur.fetchone()

In [ ]:
cur.execute("""
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
""")
cur.fetchall()