<a href="https://colab.research.google.com/github/ksetdekov/trip_choice_optimizer/blob/master/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

from  scipy.stats import gamma, norm

In [2]:
# !pip install psycopg2-binary

In [8]:
import os
import psycopg2

# DATABASE_URL = os.environ['DATABASE_URL']
DATABASE_URL = 'postgres://evjmizeguxwads:2a6ed9d169b0d4704f726b57f8b20739426abf0fcf77ae5dafe0be542e75dfbd@ec2-79-125-30-28.eu-west-1.compute.amazonaws.com:5432/d1ep6cb6a8tah1'
# DATABASE_URL = 'postgres://localhost:5432'

conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cur = conn.cursor()

In [28]:
cur.execute("""
CREATE TABLE IF NOT EXISTS "states" (
    "id"	bigint,
    "state"	int, 
    PRIMARY KEY(id)
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS "history" (
    "id"	bigint,
    "name" text, 
    "mu"
    "Te"
    "alpha"
    "beta"
    "tau"
    "theta"
    "SD"
    "var95"
1	пешком + 44	35.740000	4	2.5	18.220700	0.407589	35.624748	1.566350	38.694737
    PRIMARY KEY(id)
);
""")

cur.execute("""
     INSERT INTO states (id, state)
     VALUES (%s, %s);
     """,
     (15550, 1))

conn.commit()

In [31]:
cur.execute("""
DROP TABLE sstates;
""")

In [24]:
conn.commit()

In [25]:
cur.execute("""
select * from states;
""")
cur.fetchone()

(15550, Decimal('1'))

In [32]:
cur.execute("""
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
""")
cur.fetchall()

[]

In [2]:
# np.random.seed(43) # фиксируем seed

# risk tolerance
$$\rho = 3.37$$

# initialize

In [3]:
mu_hat_i = 0 # mean
t_i = 0
alpha_i = 0.5
beta_i = 0.5
# rho = 3.37
rho = 1

In [4]:
def update_mean(X, T_last, mu_last):
    mu_new = T_last * mu_last / (T_last + 1) + X / (T_last + 1)
    return mu_new

def update_samples(T):
    return T + 1

def update_shape(a):
    return a + 0.5

def update_rate(X, mu_last, beta_last, T_last):
    beta_new = beta_last + (T_last / (T_last + 1)) * (np.square(X - mu_last)) / 2
    return beta_new

In [5]:
hands = pd.DataFrame({'name': ['трамвай + 44', 'пешком + 44', 'мотоцикл', '9 + 44', 'рыжая + жёлтая + салатовая', 
                               'каршеринг', 'серая + салатовая', 'рыжая + фиолетовая + салатовая', 'рыжая + салатовая']})

In [6]:
hands['mu'] = 0
hands['Te'] = 0
hands['alpha'] = 0.5
hands['beta'] = 0.5

hands

                             name  mu  Te  alpha  beta
0                    трамвай + 44   0   0    0.5   0.5
1                     пешком + 44   0   0    0.5   0.5
2                        мотоцикл   0   0    0.5   0.5
3                          9 + 44   0   0    0.5   0.5
4      рыжая + жёлтая + салатовая   0   0    0.5   0.5
5                       каршеринг   0   0    0.5   0.5
6               серая + салатовая   0   0    0.5   0.5
7  рыжая + фиолетовая + салатовая   0   0    0.5   0.5
8               рыжая + салатовая   0   0    0.5   0.5

In [7]:
def to_minutes(timestr: str):
  '''
  convert timestr to float minutes
  '''
  return pd.to_timedelta(timestr).total_seconds()/60

In [8]:
def update_hands(hands, name, value):
    if isinstance(value, str):
        try:
            value = to_minutes(value)
        except ValueError:
            raise ValueError('input time string in hh:mm:ss format')
    elif isinstance(value, float) or isinstance(value, int):
        pass
    else:
        raise ValueError('input time string or int/float value')
    # print(value)
    _, mu, t, alpha, beta = hands[hands.name ==name].values[0]
    beta = update_rate(value, mu, beta, t)
    mu =  update_mean(value, t, mu)
    t = update_samples(t)
    alpha = update_shape(alpha)

    # print(mu, t, alpha, beta)

    hands.loc[hands.name ==name, 'mu'] = mu
    hands.loc[hands.name ==name, 'Te'] = t
    hands.loc[hands.name ==name, 'alpha'] = alpha
    hands.loc[hands.name ==name, 'beta'] = beta

    return hands

In [9]:
hands = update_hands(hands, 'трамвай + 44', 35.03)
hands = update_hands(hands, 'пешком + 44', 40)
hands = update_hands(hands, 'пешком + 44', 36.18)
hands = update_hands(hands, 'пешком + 44', 35.13)
hands = update_hands(hands, 'пешком + 44', 31.65)
hands = update_hands(hands, 'трамвай + 44', 51.23)
hands = update_hands(hands, 'мотоцикл', 13)
hands = update_hands(hands, 'трамвай + 44', 29.65)
hands = update_hands(hands, '9 + 44', 37.63)
hands = update_hands(hands, 'трамвай + 44', 39.58)
hands = update_hands(hands, 'рыжая + жёлтая + салатовая', 47.63)
hands = update_hands(hands, 'каршеринг', 31.75)
hands = update_hands(hands, 'рыжая + салатовая', 52.6)
hands = update_hands(hands, 'каршеринг', 23.15)
hands = update_hands(hands, 'рыжая + фиолетовая + салатовая', 52.82)
hands = update_hands(hands, 'серая + салатовая', 52.37)
hands = update_hands(hands, 'мотоцикл', 21.05)
hands = update_hands(hands, 'мотоцикл', 26.40)
hands = update_hands(hands, 'мотоцикл', "0:25:18")
hands = update_hands(hands, '9 + 44', "0:54:37")
hands = update_hands(hands, 'пешком + 44', "0:38:16")
hands = update_hands(hands, 'мотоцикл', "0:24:54")
hands = update_hands(hands, 'мотоцикл', "0:26:51")

hands

                             name         mu  Te  alpha        beta
0                    трамвай + 44  38.872500   4    2.5  127.013837
1                     пешком + 44  36.245333   5    3.0   20.774318
2                        мотоцикл  22.916667   6    3.5   70.021667
3                          9 + 44  46.123333   2    1.5   72.636711
4      рыжая + жёлтая + салатовая  47.630000   1    1.0    0.500000
5                       каршеринг  27.450000   2    1.5   18.990000
6               серая + салатовая  52.370000   1    1.0    0.500000
7  рыжая + фиолетовая + салатовая  52.820000   1    1.0    0.500000
8               рыжая + салатовая  52.600000   1    1.0    0.500000

: for each t = K + 1, K + 2, . . ., do

7: Sample τi,t from Gamma(αi,t−1, βi,t−1).

8: Sample θi,t from N (ˆµi,t−1, 1/Ti,t−1)

9: Play arm i(t) = arg maxi∈[K] ρθi,t − 1/τi,t and observe reward Xi(t),t

10: Update(ˆµi(t),t−1, Ti(t),t−1, αi(t),t−1, βi(t),t−1)

11: end for

In [10]:
tau = gamma.rvs( a = hands.alpha, scale=1/hands.beta)
theta = norm.rvs(hands.mu, 1/hands.Te)
hands['tau'] = tau
hands['theta'] = theta
hands['SD'] = np.sqrt(1/tau)
hands['var95'] = theta + norm.ppf(1-0.05/2) * hands.SD

hands.reindex(np.argsort(rho * theta + 1/tau))

,name,mu,Te,alpha,beta,tau,theta,SD,var95
5,каршеринг,27.450000,2,1.5,18.990000,0.108821,28.368330,3.031398,34.309762
1,пешком + 44,36.245333,5,3.0,20.774318,0.432945,36.422102,1.519791,39.400837
2,мотоцикл,22.916667,6,3.5,70.021667,0.049592,23.101664,4.490499,31.902880
4,рыжая + жёлтая + салатовая,47.630000,1,1.0,0.500000,1.129975,46.792710,0.940731,48.636509
6,серая + салатовая,52.370000,1,1.0,0.500000,1.074163,52.362855,0.964861,54.253949
8,рыжая + салатовая,52.600000,1,1.0,0.500000,0.272499,52.660194,1.915657,56.414812
7,рыжая + фиолетовая + салатовая,52.820000,1,1.0,0.500000,0.521954,54.836968,1.384152,57.549856
3,9 + 44,46.123333,2,1.5,72.636711,0.018905,45.976924,7.272924,60.231593
0,трамвай + 44,38.872500,4,2.5,127.013837,0.008942,39.153065,10.575067,59.879815