<a href="https://colab.research.google.com/github/ksetdekov/trip_choice_optimizer/blob/master/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

from  scipy.stats import gamma, norm
from mvsampling.mvsampling import HandsTable

  name  mu  Te  alpha  beta       tau      theta        SD      var95
1    2  95   2    1.5  25.5  0.052501  95.276825  4.364326  86.722903
0    1  75   2    1.5  25.5  0.055096  75.536778  4.260293  67.186757

In [2]:
# np.random.seed(7336) # фиксируем seed

# risk tolerance
$$\rho = 3.37$$

# initialize

In [3]:
mu_hat_i = 0 # mean
t_i = 0
alpha_i = 0.5
beta_i = 0.5
# rho = 3.37
rho = 1

In [4]:
def update_mean(X, T_last, mu_last):
    mu_new = T_last * mu_last / (T_last + 1) + X / (T_last + 1)
    return mu_new

def update_samples(T):
    return T + 1

def update_shape(a):
    return a + 0.5

def update_rate(X, mu_last, beta_last, T_last):
    beta_new = beta_last + (T_last / (T_last + 1)) * (np.square(X - mu_last)) / 2
    return beta_new

In [5]:
hands = pd.DataFrame({'name': ['трамвай + 944', 'с799 + пешком', 'пешком + 944', 'мотоцикл', 'с799 + 944', 
                               'рыжая + жёлтая + салатовая', 'трамвай + салатовая',
                               'каршеринг', 'серая + салатовая', 'рыжая + фиолетовая + салатовая', 'рыжая + салатовая',
                               'машина', 'самокат', '2гис', 'яндекс карты', 'гугл карты', 'citymapper', 'транспорт москвы']})

# 'московский велосипед'

In [6]:
hands['mu'] = 0
hands['Te'] = 0
hands['alpha'] = 0.5
hands['beta'] = 0.5

In [7]:
def to_minutes(timestr: str):
  '''
  convert timestr to float minutes
  '''
  return pd.to_timedelta(timestr).total_seconds()/60

In [8]:
def update_hands(hands, name, value):
    if isinstance(value, str):
        try:
            value = to_minutes(value)
        except ValueError:
            raise ValueError('input time string in hh:mm:ss format')
    elif isinstance(value, float) or isinstance(value, int):
        pass
    else:
        raise ValueError('input time string or int/float value')
    # print(value)
    _, mu, t, alpha, beta = hands[hands.name ==name].values[0]
    beta = update_rate(value, mu, beta, t)
    mu =  update_mean(value, t, mu)
    t = update_samples(t)
    alpha = update_shape(alpha)

    # print(mu, t, alpha, beta)

    hands.loc[hands.name ==name, 'mu'] = mu
    hands.loc[hands.name ==name, 'Te'] = t
    hands.loc[hands.name ==name, 'alpha'] = alpha
    hands.loc[hands.name ==name, 'beta'] = beta

    return hands

In [9]:
hands = update_hands(hands, 'мотоцикл', 20)
hands = update_hands(hands, 'рыжая + жёлтая + салатовая', 47.63)
hands = update_hands(hands, 'каршеринг', 31.75)
hands = update_hands(hands, 'рыжая + салатовая', 52.6)
hands = update_hands(hands, 'каршеринг', 23.15)
hands = update_hands(hands, 'рыжая + фиолетовая + салатовая', 52.82)
hands = update_hands(hands, 'серая + салатовая', 52.37)
hands = update_hands(hands, 'мотоцикл', 21.05)
hands = update_hands(hands, 'мотоцикл', 26.40)
hands = update_hands(hands, 'мотоцикл', "0:25:18")
hands = update_hands(hands, 'мотоцикл', "0:24:54")
hands = update_hands(hands, 'мотоцикл', "0:26:51")
hands = update_hands(hands, 'каршеринг', "0:28:04")
hands = update_hands(hands, 'каршеринг', "0:28:05")
hands = update_hands(hands, 'мотоцикл', "0:24:54")
hands = update_hands(hands, 'мотоцикл', "0:26:58")
hands = update_hands(hands, 'мотоцикл', "0:26:29")
hands = update_hands(hands, 'машина', "0:23:59")
hands = update_hands(hands, 'каршеринг', "0:36:41")
hands = update_hands(hands, 'машина', "0:24:49")
hands = update_hands(hands, 'машина', "0:21:56")
hands = update_hands(hands, 'машина', "0:22:03")
hands = update_hands(hands, 'машина', "0:23:21")
hands = update_hands(hands, 'мотоцикл', "0:27:45")
hands = update_hands(hands, 'машина', "0:22:26")
hands = update_hands(hands, 'машина', "0:25:00")
hands = update_hands(hands, 'машина', "0:24:07")
hands = update_hands(hands, 'машина', "0:23:38")
hands = update_hands(hands, 'машина', "0:24:13")
hands = update_hands(hands, 'машина', "0:25:32")
hands = update_hands(hands, 'машина', "0:22:11")
hands = update_hands(hands, 'самокат', "0:47:17")
hands = update_hands(hands, 'машина', "0:23:33")
hands = update_hands(hands, 'машина', "0:22:54")
hands = update_hands(hands, 'машина', "0:22:42")
hands = update_hands(hands, 'каршеринг', "0:33:02")
hands = update_hands(hands, 'машина', "0:23:31")
hands = update_hands(hands, 'машина', "0:24:39")
hands = update_hands(hands, 'машина', "0:24:16")
hands = update_hands(hands, 'машина', "0:28:12")
hands = update_hands(hands, 'трамвай + 944', "0:41:35")
hands = update_hands(hands, 'машина', "0:26:27")
hands = update_hands(hands, 'машина', "0:23:55")
hands = update_hands(hands, 'с799 + 944', "0:45:48")
hands = update_hands(hands, 'машина', "0:32:23")
hands = update_hands(hands, 'машина', "0:22:34")
hands = update_hands(hands, 'машина', "0:25:00")
hands = update_hands(hands, 'машина', "0:27:01")
hands = update_hands(hands, 'каршеринг', "0:31:14")
hands = update_hands(hands, 'трамвай + салатовая', "0:48:40")
hands = update_hands(hands, 'пешком + 944', "0:46:56")
hands = update_hands(hands, 'машина', "0:31:17")
hands = update_hands(hands, 'каршеринг', "0:34:08")
hands = update_hands(hands, 'машина', "0:31:18")
hands = update_hands(hands, 'машина', "0:27:10")
hands = update_hands(hands, 'каршеринг', "0:25:51")
hands = update_hands(hands, 'транспорт москвы', "0:49:36")
hands = update_hands(hands, 'яндекс карты', "0:44:21")
hands = update_hands(hands, 'с799 + пешком', "0:55:24")
hands = update_hands(hands, 'гугл карты', "0:40:50")
hands = update_hands(hands, '2гис', "0:59:04")
hands = update_hands(hands, 'каршеринг', "0:29:00")
hands = update_hands(hands, 'citymapper', "0:52:31")
hands = update_hands(hands, 'машина', "0:27:36")
hands = update_hands(hands, 'машина', "0:26:23")
hands = update_hands(hands, 'машина', "0:24:04")
hands = update_hands(hands, 'гугл карты', "0:44:06")
hands = update_hands(hands, 'машина', "0:33:59")
hands = update_hands(hands, 'каршеринг', "0:26:42")
hands = update_hands(hands, 'машина', "0:26:36")
hands = update_hands(hands, 'машина', "0:23:13")
hands = update_hands(hands, 'трамвай + 944', "0:48:14")
hands = update_hands(hands, 'машина', "0:25:05")
hands = update_hands(hands, 'машина', "0:30:01")
hands = update_hands(hands, 'каршеринг', "0:30:13")
hands = update_hands(hands, 'машина', "0:23:31")
hands = update_hands(hands, 'с799 + 944', "0:44:02")
hands = update_hands(hands, 'машина', "0:32:43")
hands = update_hands(hands, 'каршеринг', "0:25:07")
hands = update_hands(hands, 'гугл карты', "0:55:16")
hands = update_hands(hands, 'каршеринг', "0:35:15")
hands = update_hands(hands, 'с799 + 944', "0:56:38")
hands = update_hands(hands, 'машина', "0:23:55")
hands = update_hands(hands, 'машина', "0:22:29")
hands = update_hands(hands, 'яндекс карты', "0:47:40")
hands = update_hands(hands, 'каршеринг', "0:25:10")
hands = update_hands(hands, 'машина', "0:27:06")
hands = update_hands(hands, 'каршеринг', "0:30:21")
hands = update_hands(hands, 'машина', "0:23:50")
hands = update_hands(hands, 'машина', "0:21:28")
hands = update_hands(hands, 'машина', "0:26:38")
hands = update_hands(hands, 'машина', "0:21:33")
hands = update_hands(hands, 'машина', "0:25:22")
hands = update_hands(hands, 'каршеринг', "0:29:08")
hands = update_hands(hands, 'каршеринг', "0:22:20")
hands = update_hands(hands, 'машина', "0:22:37")
hands = update_hands(hands, 'машина', "0:23:22")
hands = update_hands(hands, 'машина', "0:23:09")
hands = update_hands(hands, 'каршеринг', "0:26:06")
hands = update_hands(hands, 'машина', "0:26:10")
hands = update_hands(hands, 'машина', "0:29:32")


hands

                              name         mu  Te  alpha        beta
0                    трамвай + 944  44.908333   2    1.5   11.555625
1                    с799 + пешком  55.400000   1    1.0    0.500000
2                     пешком + 944  46.933333   1    1.0    0.500000
3                         мотоцикл  25.060000  10    5.5   30.344778
4                       с799 + 944  48.822222   3    2.0   47.040370
5       рыжая + жёлтая + салатовая  47.630000   1    1.0    0.500000
6              трамвай + салатовая  48.666667   1    1.0    0.500000
7                        каршеринг  29.018421  19   10.0  145.677471
8                серая + салатовая  52.370000   1    1.0    0.500000
9   рыжая + фиолетовая + салатовая  52.820000   1    1.0    0.500000
10               рыжая + салатовая  52.600000   1    1.0    0.500000
11                          машина  25.303595  51   26.0  234.932865
12                         самокат  47.283333   1    1.0    0.500000
13                            2гис  59.066667   1    1.0    0.500000
14                    яндекс карты  46.008333   2    1.5    3.250069
15                      гугл карты  46.733333   3    2.0   57.781111
16                      citymapper  52.516667   1    1.0    0.500000
17                транспорт москвы  49.600000   1    1.0    0.500000

5: for each t = K + 1, K + 2, . . ., do

7: Sample τi,t from Gamma(αi,t−1, βi,t−1).

8: Sample θi,t from N (ˆµi,t−1, 1/Ti,t−1)

9: Play arm i(t) = arg maxi∈[K] ρθi,t − 1/τi,t and observe reward Xi(t),t

10: Update(ˆµi(t),t−1, Ti(t),t−1, αi(t),t−1, βi(t),t−1)

11: end for

In [10]:
tau = gamma.rvs( a = hands.alpha, scale=1/hands.beta)
theta = norm.rvs(hands.mu, 1/hands.Te)
hands['tau'] = tau
hands['theta'] = theta
hands['SD'] = np.sqrt(1/tau)
hands['var95'] = theta + norm.ppf(1-0.05/2) * hands.SD

if hands.mu.min() == 0:
    output1 = hands.reindex(np.argsort(hands.Te))
else:
    # hands['sorter'] = 1/tau + rho * theta
    output1 = hands.reindex(np.argsort(rho * theta + 1/tau))

output1

,name,mu,Te,alpha,beta,tau,theta,SD,var95
3,мотоцикл,25.060000,10,5.5,30.344778,0.230143,24.955967,2.084495,29.041502
11,машина,25.303595,51,26.0,234.932865,0.083206,25.295775,3.466752,32.090484
7,каршеринг,29.018421,19,10.0,145.677471,0.082416,28.988211,3.483331,35.815415
12,самокат,47.283333,1,1.0,0.500000,0.934120,46.248771,1.034662,48.276671
2,пешком + 944,46.933333,1,1.0,0.500000,1.702543,47.273485,0.766392,48.775586
5,рыжая + жёлтая + салатовая,47.630000,1,1.0,0.500000,2.077327,48.348095,0.693821,49.707960
0,трамвай + 944,44.908333,2,1.5,11.555625,0.220318,44.607667,2.130468,48.783307
6,трамвай + салатовая,48.666667,1,1.0,0.500000,0.738424,49.570532,1.163716,51.851374
14,яндекс карты,46.008333,2,1.5,3.250069,0.192664,45.900193,2.278242,50.365464
8,серая + салатовая,52.370000,1,1.0,0.500000,2.728791,52.183002,0.605362,53.369489
9,рыжая + фиолетовая + салатовая,52.820000,1,1.0,0.500000,1.479787,52.774522,0.822054,54.385718
10,рыжая + салатовая,52.600000,1,1.0,0.500000,0.438967,52.161448,1.509330,55.119681
16,citymapper,52.516667,1,1.0,0.500000,0.398546,52.840198,1.584021,55.944821
1,с799 + пешком,55.400000,1,1.0,0.500000,1.268839,55.411094,0.887762,57.151076
17,транспорт москвы,49.600000,1,1.0,0.500000,0.158337,50.800948,2.513092,55.726518
13,2гис,59.066667,1,1.0,0.500000,2.193446,58.108687,0.675206,59.432067
15,гугл карты,46.733333,3,2.0,57.781111,0.014244,46.843212,8.378840,63.265437
4,с799 + 944,48.822222,3,2.0,47.040370,0.012084,48.296149,9.096805,66.125559

## для хилокомода

In [11]:
hands_drops = pd.DataFrame({'name': ['хилокомод', 'гилан', 'гилан ультра комфорт', 'стиллавит',
                                     'артелак баланс', 'артелак всплеск уно', 'артелак всплеск',
                                     'систейн ультра плюс', 'систейн ультра', 'визмед гель',
                                     'визмед лайт', 'хилабак', 'окутиарз'
                                     ]})
hands_drops['mu'] = 0
hands_drops['Te'] = 0
hands_drops['alpha'] = 0.5
hands_drops['beta'] = 0.5
# # с 5 по 20 декабря 2019
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(15/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(19/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(13/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(10/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(13/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(10/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(9/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(2/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(24/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(13/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(14/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(12/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(10/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(12/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(16/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(12/10))
# # пропуск  с июля по октябрь 2020
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(30/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(19/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(11/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(9/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(16/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(19/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(18/10))
# # март 2021
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(15/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(17/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(18/10))
# # апрель 2021
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(13/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(14/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(20/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(12/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(12/10))
# # # вышел на работу с сентября
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(13/10))
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(11/10))
hands_drops = update_hands(hands_drops, 'гилан', 30/(21/12))
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(15/10))
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(17/10))
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(13/10))
hands_drops = update_hands(hands_drops, 'гилан', 30/(32/12))
hands_drops = update_hands(hands_drops, 'гилан', 30/(16/12))
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(9/10))
hands_drops = update_hands(hands_drops, 'гилан', 30/(10/12))
hands_drops = update_hands(hands_drops, 'гилан ультра комфорт', 30/(11/12))
hands_drops = update_hands(hands_drops, 'гилан', 30/(12/12))
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(11/10)) # начал Артелак всплеск
hands_drops = update_hands(hands_drops, 'артелак всплеск', 30/(12/10)) # начал визмед гель
hands_drops = update_hands(hands_drops, 'визмед гель', 30/(13/9)) # начал Артелак всплеск уно
hands_drops = update_hands(hands_drops, 'артелак всплеск уно', 30/(15/15)) # начал стиллавит
hands_drops = update_hands(hands_drops, 'стиллавит', 30/(8/10)) # начал артелак баланс - добавить к 
# стиллавиту столько дней, сколько использовал его потом
hands_drops = update_hands(hands_drops, 'артелак баланс', 30/(7/10)) # начал систейн ультра
hands_drops = update_hands(hands_drops, 'систейн ультра', 30/(30/15)) 


hands_drops

                    name         mu  Te  alpha        beta
0              хилокомод  24.525670   7    4.0   82.831148
1                  гилан  23.378571   5    3.0  195.451020
2   гилан ультра комфорт  32.727273   1    1.0    0.500000
3              стиллавит  37.500000   1    1.0    0.500000
4         артелак баланс  42.857143   1    1.0    0.500000
5    артелак всплеск уно  30.000000   1    1.0    0.500000
6        артелак всплеск  25.000000   1    1.0    0.500000
7    систейн ультра плюс   0.000000   0    0.5    0.500000
8         систейн ультра  15.000000   1    1.0    0.500000
9            визмед гель  20.769231   1    1.0    0.500000
10           визмед лайт   0.000000   0    0.5    0.500000
11               хилабак   0.000000   0    0.5    0.500000
12              окутиарз   0.000000   0    0.5    0.500000

In [12]:
tau_drops = gamma.rvs( a = hands_drops.alpha, scale=1/hands_drops.beta)
theta_drops = norm.rvs(hands_drops.mu, 1/hands_drops.Te)
hands_drops['tau'] = tau_drops
hands_drops['theta'] = theta_drops
hands_drops['SD'] = np.sqrt(1/tau_drops)
hands_drops['var95'] = theta_drops + norm.ppf(1-0.05/2) * hands_drops.SD


if hands_drops.mu.min() == 0:
    
    output2 = hands_drops.reindex(np.argsort(hands_drops.Te))
else:
    # hands_drops['sorter'] = 1/tau_drops + rho * theta_drops
    output2 = hands_drops.reindex(np.argsort(rho * theta_drops + 1/tau_drops))

output2

# todo этот вариант кода переписать как опцию максимизации
# hands_drops['var95'] = theta_drops + norm.ppf(0.05/2) * hands_drops.SD


# if hands_drops.mu.min() == 0:
#     output2 = hands_drops.reindex(np.argsort(hands_drops.Te))
# else:
#     output2 = hands_drops.reindex(np.argsort(rho * theta_drops - 1/tau_drops)[::-1])

,name,mu,Te,alpha,beta,tau,theta,SD,var95
Te,,,,,,,,,
7,систейн ультра плюс,0.000000,0,0.5,0.500000,0.019906,-inf,7.087831,-inf
10,визмед лайт,0.000000,0,0.5,0.500000,0.211805,-inf,2.172859,-inf
11,хилабак,0.000000,0,0.5,0.500000,0.437516,-inf,1.511830,-inf
12,окутиарз,0.000000,0,0.5,0.500000,1.360997,-inf,0.857179,-inf
2,гилан ультра комфорт,32.727273,1,1.0,0.500000,4.101504,31.704768,0.493774,32.672547
3,стиллавит,37.500000,1,1.0,0.500000,0.434059,38.462419,1.517839,41.437329
4,артелак баланс,42.857143,1,1.0,0.500000,0.891598,43.184925,1.059048,45.260621
5,артелак всплеск уно,30.000000,1,1.0,0.500000,0.470077,29.638346,1.458531,32.497014
6,артелак всплеск,25.000000,1,1.0,0.500000,3.969520,26.399874,0.501916,27.383611
8,систейн ультра,15.000000,1,1.0,0.500000,1.540825,14.156180,0.805607,15.735141
9,визмед гель,20.769231,1,1.0,0.500000,0.221501,22.217796,2.124773,26.382274
1,гилан,23.378571,5,3.0,195.451020,0.004310,23.187475,15.231437,53.040543
0,хилокомод,24.525670,7,4.0,82.831148,0.046072,24.531437,4.658892,33.662698

## для поездки с работы на ОТ, минимизуруем минуты

In [13]:
hands_back = pd.DataFrame({'name': ['2гис', 'яндекс карты', 'гугл карты', 'citymapper',
                                     'транспорт москвы'
                                     ]})
hands_back['mu'] = 0
hands_back['Te'] = 0
hands_back['alpha'] = 0.5
hands_back['beta'] = 0.5
hands_back = update_hands(hands_back, '2гис', '00:55:54')
hands_back = update_hands(hands_back, 'яндекс карты', '00:49:41')
hands_back = update_hands(hands_back, 'гугл карты', '01:05:54') # салатовая и 38 трамвай
hands_back = update_hands(hands_back, 'citymapper', '00:56:12')  # салатовая и 38 трамвай
hands_back = update_hands(hands_back, 'транспорт москвы', '00:51:29') # через третьяковскую до шаболовки
hands_back = update_hands(hands_back, '2гис', '01:06:55') # автобус до технопарка, от павелецкой - трамвай
hands_back = update_hands(hands_back, 'яндекс карты', '01:04:50') # 799 и 944 автобус


hands_back

               name         mu  Te  alpha       beta
0              2гис  61.408333   2    1.5  30.841736
1      яндекс карты  57.258333   2    1.5  57.880625
2        гугл карты  65.900000   1    1.0   0.500000
3        citymapper  56.200000   1    1.0   0.500000
4  транспорт москвы  51.483333   1    1.0   0.500000

In [14]:
tau_back = gamma.rvs( a = hands_back.alpha, scale=1/hands_back.beta)
theta_back = norm.rvs(hands_back.mu, 1/hands_back.Te)
hands_back['tau'] = tau_back
hands_back['theta'] = theta_back
hands_back['SD'] = np.sqrt(1/tau_back)
hands_back['var95'] = theta_back + norm.ppf(1-0.05/2) * hands_back.SD


if hands_back.mu.min() == 0:
    output3 = hands_back.reindex(np.argsort(hands_back.Te))
else:
    output3 = hands_back.reindex(np.argsort(rho * theta_back + 1/tau_back))

output3

,name,mu,Te,alpha,beta,tau,theta,SD,var95
4,транспорт москвы,51.483333,1,1.0,0.500000,1.013074,50.087313,0.993527,52.034589
3,citymapper,56.200000,1,1.0,0.500000,0.827609,55.811035,1.099227,57.965480
2,гугл карты,65.900000,1,1.0,0.500000,10.114760,64.221121,0.314429,64.837390
0,2гис,61.408333,2,1.5,30.841736,0.057420,60.807069,4.173182,68.986356
1,яндекс карты,57.258333,2,1.5,57.880625,0.026179,57.477263,6.180485,69.590791

## забота о себе

### уровень стресса за день после вечернего

In [15]:
journal_for_rest = pd.DataFrame({'name': ['ничего', 'gratitide journal бумажный', 
                                          'gratitide journal бумажный + woebot', 
                                          'woebot', 
                                          'gratitide journal бумажный + ReWi', 
                                          'ReWi'
                                     ]})
journal_for_rest['mu'] = -1
journal_for_rest['Te'] = 0
journal_for_rest['alpha'] = 0.5
journal_for_rest['beta'] = 0.5
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный', 43)
journal_for_rest = update_hands(journal_for_rest, 'ничего', 49)
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 34)  # на 26 января
journal_for_rest = update_hands(journal_for_rest, 'ничего', 31)  # на 27 января
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + ReWi', 37)  # на 28 января
journal_for_rest = update_hands(journal_for_rest, 'ReWi', 48)  # на 29 января
journal_for_rest = update_hands(journal_for_rest, 'woebot', 35)  # на 30 января
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 34)  # на 31 января
journal_for_rest = update_hands(journal_for_rest, 'woebot', 33)  # на 1 февраля
journal_for_rest = update_hands(journal_for_rest, 'woebot', 32)  # на 2 февраля
journal_for_rest = update_hands(journal_for_rest, 'woebot', 38)  # на 3 февраля 
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 28)  # на 4 февраля 
journal_for_rest = update_hands(journal_for_rest, 'ничего', 33) # ничего 5
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 33)  # gratitide journal бумажный + woebot 6
journal_for_rest = update_hands(journal_for_rest, 'ничего', 38) # ничего 7 и вечером gratitide journal бумажный + woebot
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 27)  # 8
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + ReWi', 30)  # 9
journal_for_rest = update_hands(journal_for_rest, 'ничего', 36) # ничего 10
journal_for_rest = update_hands(journal_for_rest, 'woebot', 35) #  11
journal_for_rest = update_hands(journal_for_rest, 'ничего', 39) #  12
journal_for_rest = update_hands(journal_for_rest, 'ничего', 32) #  13
journal_for_rest = update_hands(journal_for_rest, 'ничего', 31) #  14 
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 31)  # 15 
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 33)  # 16
journal_for_rest = update_hands(journal_for_rest, 'ничего', 32) #  17
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 32)  # 18
journal_for_rest = update_hands(journal_for_rest, 'woebot', 33) #  19
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 32)  # 20
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 39)  # 21
journal_for_rest = update_hands(journal_for_rest, 'woebot', 38) #  22
journal_for_rest = update_hands(journal_for_rest, 'ничего', 47) #  23
journal_for_rest = update_hands(journal_for_rest, 'woebot', 34) #  24
journal_for_rest = update_hands(journal_for_rest, 'woebot', 27) #  25
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + ReWi', 23) #  26
journal_for_rest = update_hands(journal_for_rest, 'ничего', 27)  # 27
journal_for_rest = update_hands(journal_for_rest, 'woebot', 40)  # 28
journal_for_rest = update_hands(journal_for_rest, 'woebot', 29)  # 1 march
journal_for_rest = update_hands(journal_for_rest, 'woebot', 24)  # 2 march
journal_for_rest = update_hands(journal_for_rest, 'ничего', 30)  # 3
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный', 24) # 4
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 24) # 5
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 28) # 6
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 28) # 7
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 34) # 8
journal_for_rest = update_hands(journal_for_rest, 'ReWi', 39) # 9
journal_for_rest = update_hands(journal_for_rest, 'ничего', 26) # 10
journal_for_rest = update_hands(journal_for_rest, 'ничего', 37) # 11
journal_for_rest = update_hands(journal_for_rest, 'ничего', 26) # 12
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + ReWi', 23)  # 13
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 26) # 14
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 18) # 15
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный', 27) # 16
journal_for_rest = update_hands(journal_for_rest, 'woebot', 21)  # 17 march
# journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + ReWi', 23)  # 18
# journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 18) # 19

journal_for_rest

                                  name         mu  Te  alpha        beta
0                               ничего  34.266667  15    8.0  333.966667
1           gratitide journal бумажный  31.333333   3    2.0  104.833333
2  gratitide journal бумажный + woebot  30.062500  16    8.5  186.968750
3                               woebot  32.230769  13    7.0  189.653846
4    gratitide journal бумажный + ReWi  28.250000   4    2.5   67.875000
5                                 ReWi  43.500000   2    1.5   20.750000

In [16]:
tau_journal = gamma.rvs( a = journal_for_rest.alpha, scale=1/journal_for_rest.beta)
theta_journal = norm.rvs(journal_for_rest.mu, 1/journal_for_rest.Te)
journal_for_rest['tau'] = tau_journal
journal_for_rest['theta'] = theta_journal
journal_for_rest['SD'] = np.sqrt(1/tau_journal)
journal_for_rest['var95'] = theta_journal + norm.ppf(1-0.05/2) * journal_for_rest.SD


if journal_for_rest.mu.min() == -1:
    output4 = journal_for_rest.reindex(np.argsort(journal_for_rest.Te))
else:
    output4 = journal_for_rest.reindex(np.argsort(rho * theta_journal + 1/tau_journal))

output4

,name,mu,Te,alpha,beta,tau,theta,SD,var95
2,gratitide journal бумажный + woebot,30.062500,16,8.5,186.968750,0.057033,30.003249,4.187329,38.210264
5,ReWi,43.500000,2,1.5,20.750000,0.190066,43.541245,2.293757,48.036926
0,ничего,34.266667,15,8.0,333.966667,0.051286,34.204832,4.415724,42.859492
1,gratitide journal бумажный,31.333333,3,2.0,104.833333,0.041097,31.506764,4.932799,41.174874
3,woebot,32.230769,13,7.0,189.653846,0.032994,32.170021,5.505334,42.960277
4,gratitide journal бумажный + ReWi,28.250000,4,2.5,67.875000,0.023007,28.143260,6.592819,41.064947

## Бассейн

сколько человек, включая меня/ на число дорожек

In [17]:
pool = HandsTable(["понедельник", "вторник", "среда", "четверг", "пятница"])

понедельник 1830 и пятница - 1 дорожка

пятница - нет второго сеанса

In [18]:
pool.update_hands('вторник', 2/2)
pool.update_hands('четверг', 4/2)
pool.update_hands('понедельник', 3/1)
# pool.update_hands('пятница', 3/1)

pool.grade()

           name  mu  Te  alpha  beta       tau     theta        SD     var95
Te
2         среда   0   0    0.5   0.5  2.862360       inf  0.591069       inf
4       пятница   0   0    0.5   0.5  0.081055      -inf  3.512444      -inf
0   понедельник   3   1    1.0   0.5  1.987894  3.567943  0.709257  4.958060
1       вторник   1   1    1.0   0.5  1.973103  2.543344  0.711910  3.938662
3       четверг   2   1    1.0   0.5  2.404701  2.922477  0.644866  4.186391