<a href="https://colab.research.google.com/github/ksetdekov/trip_choice_optimizer/blob/master/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

from  scipy.stats import gamma, norm

In [2]:
# np.random.seed(7336) # фиксируем seed

# risk tolerance
$$\rho = 3.37$$

# initialize

In [3]:
mu_hat_i = 0 # mean
t_i = 0
alpha_i = 0.5
beta_i = 0.5
# rho = 3.37
rho = 1

In [4]:
def update_mean(X, T_last, mu_last):
    mu_new = T_last * mu_last / (T_last + 1) + X / (T_last + 1)
    return mu_new

def update_samples(T):
    return T + 1

def update_shape(a):
    return a + 0.5

def update_rate(X, mu_last, beta_last, T_last):
    beta_new = beta_last + (T_last / (T_last + 1)) * (np.square(X - mu_last)) / 2
    return beta_new

In [5]:
hands = pd.DataFrame({'name': ['трамвай + 944', 'с799 + пешком', 'пешком + 944', 'мотоцикл', 'с799 + 944', 
                               'рыжая + жёлтая + салатовая', 'трамвай + салатовая',
                               'каршеринг', 'серая + салатовая', 'рыжая + фиолетовая + салатовая', 'рыжая + салатовая',
                               'машина', 'самокат', '2гис', 'яндекс карты', 'гугл карты', 'citymapper', 'транспорт москвы']})

# 'московский велосипед'

In [6]:
hands['mu'] = 0
hands['Te'] = 0
hands['alpha'] = 0.5
hands['beta'] = 0.5

In [7]:
def to_minutes(timestr: str):
  '''
  convert timestr to float minutes
  '''
  return pd.to_timedelta(timestr).total_seconds()/60

In [8]:
def update_hands(hands, name, value):
    if isinstance(value, str):
        try:
            value = to_minutes(value)
        except ValueError:
            raise ValueError('input time string in hh:mm:ss format')
    elif isinstance(value, float) or isinstance(value, int):
        pass
    else:
        raise ValueError('input time string or int/float value')
    # print(value)
    _, mu, t, alpha, beta = hands[hands.name ==name].values[0]
    beta = update_rate(value, mu, beta, t)
    mu =  update_mean(value, t, mu)
    t = update_samples(t)
    alpha = update_shape(alpha)

    # print(mu, t, alpha, beta)

    hands.loc[hands.name ==name, 'mu'] = mu
    hands.loc[hands.name ==name, 'Te'] = t
    hands.loc[hands.name ==name, 'alpha'] = alpha
    hands.loc[hands.name ==name, 'beta'] = beta

    return hands

In [9]:
hands = update_hands(hands, 'мотоцикл', 20)
hands = update_hands(hands, 'рыжая + жёлтая + салатовая', 47.63)
hands = update_hands(hands, 'каршеринг', 31.75)
hands = update_hands(hands, 'рыжая + салатовая', 52.6)
hands = update_hands(hands, 'каршеринг', 23.15)
hands = update_hands(hands, 'рыжая + фиолетовая + салатовая', 52.82)
hands = update_hands(hands, 'серая + салатовая', 52.37)
hands = update_hands(hands, 'мотоцикл', 21.05)
hands = update_hands(hands, 'мотоцикл', 26.40)
hands = update_hands(hands, 'мотоцикл', "0:25:18")
hands = update_hands(hands, 'мотоцикл', "0:24:54")
hands = update_hands(hands, 'мотоцикл', "0:26:51")
hands = update_hands(hands, 'каршеринг', "0:28:04")
hands = update_hands(hands, 'каршеринг', "0:28:05")
hands = update_hands(hands, 'мотоцикл', "0:24:54")
hands = update_hands(hands, 'мотоцикл', "0:26:58")
hands = update_hands(hands, 'мотоцикл', "0:26:29")
hands = update_hands(hands, 'машина', "0:23:59")
hands = update_hands(hands, 'каршеринг', "0:36:41")
hands = update_hands(hands, 'машина', "0:24:49")
hands = update_hands(hands, 'машина', "0:21:56")
hands = update_hands(hands, 'машина', "0:22:03")
hands = update_hands(hands, 'машина', "0:23:21")
hands = update_hands(hands, 'мотоцикл', "0:27:45")
hands = update_hands(hands, 'машина', "0:22:26")
hands = update_hands(hands, 'машина', "0:25:00")
hands = update_hands(hands, 'машина', "0:24:07")
hands = update_hands(hands, 'машина', "0:23:38")
hands = update_hands(hands, 'машина', "0:24:13")
hands = update_hands(hands, 'машина', "0:25:32")
hands = update_hands(hands, 'машина', "0:22:11")
hands = update_hands(hands, 'самокат', "0:47:17")
hands = update_hands(hands, 'машина', "0:23:33")
hands = update_hands(hands, 'машина', "0:22:54")
hands = update_hands(hands, 'машина', "0:22:42")
hands = update_hands(hands, 'каршеринг', "0:33:02")
hands = update_hands(hands, 'машина', "0:23:31")
hands = update_hands(hands, 'машина', "0:24:39")
hands = update_hands(hands, 'машина', "0:24:16")
hands = update_hands(hands, 'машина', "0:28:12")
hands = update_hands(hands, 'трамвай + 944', "0:41:35")
hands = update_hands(hands, 'машина', "0:26:27")
hands = update_hands(hands, 'машина', "0:23:55")
hands = update_hands(hands, 'с799 + 944', "0:45:48")
hands = update_hands(hands, 'машина', "0:32:23")
hands = update_hands(hands, 'машина', "0:22:34")
hands = update_hands(hands, 'машина', "0:25:00")
hands = update_hands(hands, 'машина', "0:27:01")
hands = update_hands(hands, 'каршеринг', "0:31:14")
hands = update_hands(hands, 'трамвай + салатовая', "0:48:40")
hands = update_hands(hands, 'пешком + 944', "0:46:56")
hands = update_hands(hands, 'машина', "0:31:17")
hands = update_hands(hands, 'каршеринг', "0:34:08")
hands = update_hands(hands, 'машина', "0:31:18")
hands = update_hands(hands, 'машина', "0:27:10")
hands = update_hands(hands, 'каршеринг', "0:25:51")
hands = update_hands(hands, 'транспорт москвы', "0:49:36")
hands = update_hands(hands, 'яндекс карты', "0:44:21")
hands = update_hands(hands, 'с799 + пешком', "0:55:24")
hands = update_hands(hands, 'гугл карты', "0:40:50")
hands = update_hands(hands, '2гис', "0:59:04")
hands = update_hands(hands, 'каршеринг', "0:29:00")
hands = update_hands(hands, 'citymapper', "0:52:31")
hands = update_hands(hands, 'машина', "0:27:36")
hands = update_hands(hands, 'машина', "0:26:23")
hands = update_hands(hands, 'машина', "0:24:04")
hands = update_hands(hands, 'гугл карты', "0:44:06")
hands = update_hands(hands, 'машина', "0:33:59")
hands = update_hands(hands, 'каршеринг', "0:26:42")
hands = update_hands(hands, 'машина', "0:26:36")
hands = update_hands(hands, 'машина', "0:23:13")
hands = update_hands(hands, 'трамвай + 944', "0:48:14")
hands = update_hands(hands, 'машина', "0:25:05")
hands = update_hands(hands, 'машина', "0:30:01")
hands = update_hands(hands, 'каршеринг', "0:30:13")
hands = update_hands(hands, 'машина', "0:23:31")
hands = update_hands(hands, 'с799 + 944', "0:44:02")
hands = update_hands(hands, 'машина', "0:32:43")
hands = update_hands(hands, 'каршеринг', "0:25:07")
hands = update_hands(hands, 'гугл карты', "0:55:16")
hands = update_hands(hands, 'каршеринг', "0:35:15")
hands = update_hands(hands, 'с799 + 944', "0:56:38")
hands = update_hands(hands, 'машина', "0:23:55")
hands = update_hands(hands, 'машина', "0:22:29")
hands = update_hands(hands, 'яндекс карты', "0:47:40")
hands = update_hands(hands, 'каршеринг', "0:25:10")
hands = update_hands(hands, 'машина', "0:27:06")
hands = update_hands(hands, 'каршеринг', "0:30:21")
hands = update_hands(hands, 'машина', "0:23:50")

hands

                              name         mu  Te  alpha        beta
0                    трамвай + 944  44.908333   2    1.5   11.555625
1                    с799 + пешком  55.400000   1    1.0    0.500000
2                     пешком + 944  46.933333   1    1.0    0.500000
3                         мотоцикл  25.060000  10    5.5   30.344778
4                       с799 + 944  48.822222   3    2.0   47.040370
5       рыжая + жёлтая + салатовая  47.630000   1    1.0    0.500000
6              трамвай + салатовая  48.666667   1    1.0    0.500000
7                        каршеринг  29.611458  16    8.5  116.253533
8                серая + салатовая  52.370000   1    1.0    0.500000
9   рыжая + фиолетовая + салатовая  52.820000   1    1.0    0.500000
10               рыжая + салатовая  52.600000   1    1.0    0.500000
11                          машина  25.491270  42   21.5  201.778955
12                         самокат  47.283333   1    1.0    0.500000
13                            2гис  59.066667   1    1.0    0.500000
14                    яндекс карты  46.008333   2    1.5    3.250069
15                      гугл карты  46.733333   3    2.0   57.781111
16                      citymapper  52.516667   1    1.0    0.500000
17                транспорт москвы  49.600000   1    1.0    0.500000

5: for each t = K + 1, K + 2, . . ., do

7: Sample τi,t from Gamma(αi,t−1, βi,t−1).

8: Sample θi,t from N (ˆµi,t−1, 1/Ti,t−1)

9: Play arm i(t) = arg maxi∈[K] ρθi,t − 1/τi,t and observe reward Xi(t),t

10: Update(ˆµi(t),t−1, Ti(t),t−1, αi(t),t−1, βi(t),t−1)

11: end for

In [10]:
tau = gamma.rvs( a = hands.alpha, scale=1/hands.beta)
theta = norm.rvs(hands.mu, 1/hands.Te)
hands['tau'] = tau
hands['theta'] = theta
hands['SD'] = np.sqrt(1/tau)
hands['var95'] = theta + norm.ppf(1-0.05/2) * hands.SD

if hands.mu.min() == 0:
    output1 = hands.reindex(np.argsort(hands.Te))
else:
    # hands['sorter'] = 1/tau + rho * theta
    output1 = hands.reindex(np.argsort(rho * theta + 1/tau))

output1

,name,mu,Te,alpha,beta,tau,theta,SD,var95
3,мотоцикл,25.060000,10,5.5,30.344778,0.085352,25.260756,3.422898,31.969513
11,машина,25.491270,42,21.5,201.778955,0.060287,25.505945,4.072758,33.488404
7,каршеринг,29.611458,16,8.5,116.253533,0.073266,29.610981,3.694444,36.851959
2,пешком + 944,46.933333,1,1.0,0.500000,2.614080,45.149929,0.618501,46.362169
12,самокат,47.283333,1,1.0,0.500000,6.138758,46.684337,0.403608,47.475394
14,яндекс карты,46.008333,2,1.5,3.250069,0.286895,46.382897,1.866975,50.042101
17,транспорт москвы,49.600000,1,1.0,0.500000,1.020533,49.463032,0.989889,51.403179
16,citymapper,52.516667,1,1.0,0.500000,2.132412,52.149973,0.684801,53.492158
8,серая + салатовая,52.370000,1,1.0,0.500000,1.325239,52.120212,0.868666,53.822767
6,трамвай + салатовая,48.666667,1,1.0,0.500000,0.314934,50.031665,1.781929,53.524182
0,трамвай + 944,44.908333,2,1.5,11.555625,0.102882,44.420831,3.117679,50.531369
9,рыжая + фиолетовая + салатовая,52.820000,1,1.0,0.500000,0.653359,53.169097,1.237154,55.593875
1,с799 + пешком,55.400000,1,1.0,0.500000,0.555595,53.386690,1.341594,56.016164
5,рыжая + жёлтая + салатовая,47.630000,1,1.0,0.500000,0.150859,48.798214,2.574630,53.844396
13,2гис,59.066667,1,1.0,0.500000,1.263142,57.749028,0.889762,59.492930
4,с799 + 944,48.822222,3,2.0,47.040370,0.073946,48.938931,3.677406,56.146515
15,гугл карты,46.733333,3,2.0,57.781111,0.028024,46.461665,5.973635,58.169775
10,рыжая + салатовая,52.600000,1,1.0,0.500000,0.033505,52.638350,5.463205,63.346034

## для хилокомода

In [11]:
hands_drops = pd.DataFrame({'name': ['хилокомод', 'гилан', 'гилан ультра комфорт', 'стиллавит',
                                     'артелак баланс', 'артелак всплеск уно', 'артелак всплеск',
                                     'систейн ультра плюс', 'систейн ультра плюс', 'визмед гель',
                                     'визмед лайт', 'хилабак', 'окутиарз'
                                     ]})
hands_drops['mu'] = 0
hands_drops['Te'] = 0
hands_drops['alpha'] = 0.5
hands_drops['beta'] = 0.5
# # с 5 по 20 декабря 2019
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(15/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(19/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(13/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(10/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(13/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(10/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(9/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(2/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(24/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(13/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(14/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(12/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(10/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(12/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(16/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(12/10))
# # пропуск  с июля по октябрь 2020
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(30/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(19/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(11/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(9/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(16/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(19/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(18/10))
# # март 2021
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(15/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(17/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(18/10))
# # апрель 2021
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(13/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(14/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(20/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(12/10))
# hands_drops = update_hands(hands_drops, 'хилокомод', 30/(12/10))
# # # вышел на работу с сентября
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(13/10))
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(11/10))
hands_drops = update_hands(hands_drops, 'гилан', 30/(21/12))
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(15/10))
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(17/10))
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(13/10))
hands_drops = update_hands(hands_drops, 'гилан', 30/(32/12))
hands_drops = update_hands(hands_drops, 'гилан', 30/(16/12))
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(9/10))
hands_drops = update_hands(hands_drops, 'гилан', 30/(10/12))
hands_drops = update_hands(hands_drops, 'гилан ультра комфорт', 30/(11/12))
hands_drops = update_hands(hands_drops, 'гилан', 30/(12/12))
hands_drops = update_hands(hands_drops, 'хилокомод', 30/(11/10)) # начал Артелак всплеск
hands_drops = update_hands(hands_drops, 'артелак всплеск', 30/(12/10)) # начал визмед гель
hands_drops = update_hands(hands_drops, 'визмед гель', 30/(13/9)) # начал Артелак всплеск уно
hands_drops = update_hands(hands_drops, 'артелак всплеск уно', 30/(15/15)) # начал стиллавит
hands_drops = update_hands(hands_drops, 'стиллавит', 30/(8/10)) # начал артелак баланс - добавить к 
# стиллавиту столько дней, сколько использовал его потом


hands_drops

                    name         mu  Te  alpha        beta
0              хилокомод  24.525670   7    4.0   82.831148
1                  гилан  23.378571   5    3.0  195.451020
2   гилан ультра комфорт  32.727273   1    1.0    0.500000
3              стиллавит  37.500000   1    1.0    0.500000
4         артелак баланс   0.000000   0    0.5    0.500000
5    артелак всплеск уно  30.000000   1    1.0    0.500000
6        артелак всплеск  25.000000   1    1.0    0.500000
7    систейн ультра плюс   0.000000   0    0.5    0.500000
8    систейн ультра плюс   0.000000   0    0.5    0.500000
9            визмед гель  20.769231   1    1.0    0.500000
10           визмед лайт   0.000000   0    0.5    0.500000
11               хилабак   0.000000   0    0.5    0.500000
12              окутиарз   0.000000   0    0.5    0.500000

In [12]:
tau_drops = gamma.rvs( a = hands_drops.alpha, scale=1/hands_drops.beta)
theta_drops = norm.rvs(hands_drops.mu, 1/hands_drops.Te)
hands_drops['tau'] = tau_drops
hands_drops['theta'] = theta_drops
hands_drops['SD'] = np.sqrt(1/tau_drops)
hands_drops['var95'] = theta_drops + norm.ppf(1-0.05/2) * hands_drops.SD


if hands_drops.mu.min() == 0:
    
    output2 = hands_drops.reindex(np.argsort(hands_drops.Te))
else:
    # hands_drops['sorter'] = 1/tau_drops + rho * theta_drops
    output2 = hands_drops.reindex(np.argsort(rho * theta_drops + 1/tau_drops))

output2

# todo этот вариант кода переписать как опцию максимизации
# hands_drops['var95'] = theta_drops + norm.ppf(0.05/2) * hands_drops.SD


# if hands_drops.mu.min() == 0:
#     output2 = hands_drops.reindex(np.argsort(hands_drops.Te))
# else:
#     output2 = hands_drops.reindex(np.argsort(rho * theta_drops - 1/tau_drops)[::-1])

,name,mu,Te,alpha,beta,tau,theta,SD,var95
Te,,,,,,,,,
4,артелак баланс,0.000000,0,0.5,0.500000,0.022505,inf,6.665942,inf
7,систейн ультра плюс,0.000000,0,0.5,0.500000,0.244804,inf,2.021112,inf
8,систейн ультра плюс,0.000000,0,0.5,0.500000,0.029290,-inf,5.843085,-inf
10,визмед лайт,0.000000,0,0.5,0.500000,0.673257,inf,1.218736,inf
11,хилабак,0.000000,0,0.5,0.500000,0.068901,-inf,3.809677,-inf
12,окутиарз,0.000000,0,0.5,0.500000,0.791621,-inf,1.123935,-inf
2,гилан ультра комфорт,32.727273,1,1.0,0.500000,0.069085,31.279423,3.804605,38.736312
3,стиллавит,37.500000,1,1.0,0.500000,2.592444,39.478115,0.621077,40.695403
5,артелак всплеск уно,30.000000,1,1.0,0.500000,0.364214,29.606476,1.656997,32.854130
6,артелак всплеск,25.000000,1,1.0,0.500000,0.723543,25.893281,1.175622,28.197458
9,визмед гель,20.769231,1,1.0,0.500000,2.648051,20.663561,0.614521,21.868000
1,гилан,23.378571,5,3.0,195.451020,0.034552,23.401443,5.379792,33.945641
0,хилокомод,24.525670,7,4.0,82.831148,0.012468,24.616825,8.955761,42.169794

## для поездки с работы на ОТ, минимизуруем минуты

In [13]:
hands_back = pd.DataFrame({'name': ['2гис', 'яндекс карты', 'гугл карты', 'citymapper',
                                     'транспорт москвы'
                                     ]})
hands_back['mu'] = 0
hands_back['Te'] = 0
hands_back['alpha'] = 0.5
hands_back['beta'] = 0.5
hands_back = update_hands(hands_back, '2гис', '00:55:54')
hands_back = update_hands(hands_back, 'яндекс карты', '00:49:41')
hands_back = update_hands(hands_back, 'гугл карты', '01:05:54') # салатовая и 38 трамвай
hands_back = update_hands(hands_back, 'citymapper', '00:56:12')  # салатовая и 38 трамвай
hands_back = update_hands(hands_back, 'транспорт москвы', '00:51:29') # через третьяковскую до шаболовки
hands_back = update_hands(hands_back, '2гис', '01:06:55') # автобус до технопарка, от павелецкой - трамвай
hands_back = update_hands(hands_back, 'яндекс карты', '01:04:50') # 799 и 944 автобус


hands_back

               name         mu  Te  alpha       beta
0              2гис  61.408333   2    1.5  30.841736
1      яндекс карты  57.258333   2    1.5  57.880625
2        гугл карты  65.900000   1    1.0   0.500000
3        citymapper  56.200000   1    1.0   0.500000
4  транспорт москвы  51.483333   1    1.0   0.500000

In [14]:
tau_back = gamma.rvs( a = hands_back.alpha, scale=1/hands_back.beta)
theta_back = norm.rvs(hands_back.mu, 1/hands_back.Te)
hands_back['tau'] = tau_back
hands_back['theta'] = theta_back
hands_back['SD'] = np.sqrt(1/tau_back)
hands_back['var95'] = theta_back + norm.ppf(1-0.05/2) * hands_back.SD


if hands_back.mu.min() == 0:
    output3 = hands_back.reindex(np.argsort(hands_back.Te))
else:
    output3 = hands_back.reindex(np.argsort(rho * theta_back + 1/tau_back))

output3

,name,mu,Te,alpha,beta,tau,theta,SD,var95
4,транспорт москвы,51.483333,1,1.0,0.500000,3.518374,52.265336,0.533125,53.310242
3,citymapper,56.200000,1,1.0,0.500000,3.042281,56.809883,0.573324,57.933578
2,гугл карты,65.900000,1,1.0,0.500000,1.134372,67.054980,0.938906,68.895203
0,2гис,61.408333,2,1.5,30.841736,0.096773,61.168426,3.214565,67.468858
1,яндекс карты,57.258333,2,1.5,57.880625,0.041507,55.496539,4.908418,65.116862

## забота о себе

### уровень стресса за день после вечернего

In [15]:
journal_for_rest = pd.DataFrame({'name': ['ничего', 'gratitide journal бумажный', 
                                          'gratitide journal бумажный + woebot', 
                                          'woebot', 
                                          'gratitide journal бумажный + ReWi', 
                                          'ReWi'
                                     ]})
journal_for_rest['mu'] = -1
journal_for_rest['Te'] = 0
journal_for_rest['alpha'] = 0.5
journal_for_rest['beta'] = 0.5
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный', 43)
journal_for_rest = update_hands(journal_for_rest, 'ничего', 49)
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 34)  # на 26 января
journal_for_rest = update_hands(journal_for_rest, 'ничего', 31)  # на 27 января
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + ReWi', 37)  # на 28 января
journal_for_rest = update_hands(journal_for_rest, 'ReWi', 48)  # на 29 января
journal_for_rest = update_hands(journal_for_rest, 'woebot', 35)  # на 30 января
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 34)  # на 31 января
journal_for_rest = update_hands(journal_for_rest, 'woebot', 33)  # на 1 февраля
journal_for_rest = update_hands(journal_for_rest, 'woebot', 32)  # на 2 февраля
journal_for_rest = update_hands(journal_for_rest, 'woebot', 38)  # на 3 февраля 
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 28)  # на 4 февраля 
journal_for_rest = update_hands(journal_for_rest, 'ничего', 33) # ничего 5
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 33)  # gratitide journal бумажный + woebot 6
journal_for_rest = update_hands(journal_for_rest, 'ничего', 38) # ничего 7 и вечером gratitide journal бумажный + woebot
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 27)  # 8
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + ReWi', 30)  # 9
journal_for_rest = update_hands(journal_for_rest, 'ничего', 36) # ничего 10
journal_for_rest = update_hands(journal_for_rest, 'woebot', 35) #  11
journal_for_rest = update_hands(journal_for_rest, 'ничего', 39) #  12
journal_for_rest = update_hands(journal_for_rest, 'ничего', 32) #  13
journal_for_rest = update_hands(journal_for_rest, 'ничего', 31) #  14 
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 31)  # 15 
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 33)  # 16
journal_for_rest = update_hands(journal_for_rest, 'ничего', 32) #  17
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 32)  # 18
journal_for_rest = update_hands(journal_for_rest, 'woebot', 33) #  19
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 32)  # 20
journal_for_rest = update_hands(journal_for_rest, 'gratitide journal бумажный + woebot', 39)  # 21
# journal_for_rest = update_hands(journal_for_rest, 'woebot', 33) #  22


journal_for_rest

                                  name         mu  Te  alpha        beta
0                               ничего  35.666667   9    5.0  136.500000
1           gratitide journal бумажный  43.000000   1    1.0    0.500000
2  gratitide journal бумажный + woebot  32.300000  10    5.5   50.550000
3                               woebot  34.333333   6    3.5   12.166667
4    gratitide journal бумажный + ReWi  33.500000   2    1.5   12.750000
5                                 ReWi  48.000000   1    1.0    0.500000

In [16]:
tau_journal = gamma.rvs( a = journal_for_rest.alpha, scale=1/journal_for_rest.beta)
theta_journal = norm.rvs(journal_for_rest.mu, 1/journal_for_rest.Te)
journal_for_rest['tau'] = tau_journal
journal_for_rest['theta'] = theta_journal
journal_for_rest['SD'] = np.sqrt(1/tau_journal)
journal_for_rest['var95'] = theta_journal + norm.ppf(1-0.05/2) * journal_for_rest.SD


if journal_for_rest.mu.min() == -1:
    output4 = journal_for_rest.reindex(np.argsort(journal_for_rest.Te))
else:
    output4 = journal_for_rest.reindex(np.argsort(rho * theta_journal + 1/tau_journal))

output4

,name,mu,Te,alpha,beta,tau,theta,SD,var95
1,gratitide journal бумажный,43.000000,1,1.0,0.500000,1.020999,42.938897,0.989663,44.878601
2,gratitide journal бумажный + woebot,32.300000,10,5.5,50.550000,0.081072,32.271057,3.512087,39.154622
3,woebot,34.333333,6,3.5,12.166667,0.088933,34.178950,3.353276,40.751251
5,ReWi,48.000000,1,1.0,0.500000,1.690701,47.321360,0.769071,48.828713
4,gratitide journal бумажный + ReWi,33.500000,2,1.5,12.750000,0.052208,33.609349,4.376560,42.187249
0,ничего,35.666667,9,5.0,136.500000,0.014497,35.756408,8.305510,52.034908